name: ci
on:
  push:
    branches:
      - master
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - run: pip install poetry==1.1.13
      - run: poetry install
      # - run: pip install mkdocs-material mknotebooks mkdocstrings
      - run: poetry run mkdocs gh-deploy --force
